# do not publish live config file
config/*
!config/config.php.default
!config/config.env.php

# do not publish macOS blergh
._*
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes

# ignore PHP Composer vendors
vendors/composer

# ignore environmental var definition files
.env*
!.env.example
