#counter {
  position: absolute;
  bottom:   5px;
  right:    10px
}

#encrypt {
  visibility: hidden;
}

#encrypt-error {
  display: none;
}

#password {
  display:    inline;
  margin-top: 0.5em;
  visibility: hidden;
  width:      25%;
}

#secret {
  white-space: pre-wrap;
  word-wrap:   break-all;
}

#secret-div {
  position: relative;
}

#share-secret-btn {
  margin-top: 0.5em;
}
